<a class="nav-link mb-3" href="/employee/employee-details/{{empId}}/home"><i class="fas fa-long-arrow-alt-left"></i>
    Back</a>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Social Media Profile</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Social media profiles </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/employee/employee-details/{{empId}}/add-socialmedia" method="POST">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textFacebook">Github</label>
                                    <input type="text" name="github" id="textGitHub" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textFacebook">Linked in</label>
                                    <input type="text" name="linkedin" id="textLinkedIn" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textFacebook">Facebook</label>
                                    <input type="text" name="facebook" id="textFacebook" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textFacebook">Twitter</label>
                                    <input type="text" name="twitter" id="textTwitter" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textFacebook">Instagram</label>
                                    <input type="text" name="instagram" id="textInstagram" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textYoutube">Youtube</label>
                                    <input type="text" name="youtube" id="textYoutube" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="textPinterest">Pinterst</label>
                                    <input type="text" name="pinterest" id="textPinterest" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>