<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h4>Departments</h4>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Departments</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<section class="container">
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="card-body">
            <form id="formCreateDepartment" action="/misc/create-department" method="post">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="textDepartment">Dep. name</label>
                            <input type="text" name="department" id="textDepartment" class="form-control mt-2"
                                placeholder="Department name">
                        </div>
                    </div>
                    <div class="col-md-3 mt-3">
                        <button type="submit" class="btn btn-primary btn-sm">Create</button>
                    </div>
                </div>
            </form>
            {{!-- <hr /> --}}
            
        </div>
    </div>
    <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="table-responsive mt-3">
                <table class="table table-hover" id="tableDepartments">
                    <thead class="table-light">
                        <tr>
                            <th style="padding: 15px">Sl.No</th>
                            <th style="padding: 15px">Department Name</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dept}}
                        <tr>
                            <td style="padding: 20px">{{this.sl}}</td>
                            <td style="padding: 20px">{{this.department}}</td>
                            {{!-- <td></td> --}}
                            <td style="padding: 20px">
                                <div>
                                    <button onclick="getDepartmentValues('{{this._id}}')"
                                        class="btn btn-sm btn-primary">Modify</button>
                                    {{!-- <button onclick="removeDepartment('{{this._id}}')"
                                        class="btn btn-sm btn-danger">Remove</button> --}}
                                </div>

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
    </div>
</section>

<section>
    <!-- Modal -->
    <div class="modal fade" id="modalModifyDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modify Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formModifyDepartment" method="POST">

                    <div class="modal-body">
                        <span class="text-danger" id="textErrMsg"></span>
                        <div class="form-group">
                            <input type="hidden" name="_id" id="dept">
                        </div>
                        <div class="form-group">
                            <label for="textModifyName">Department</label>
                            <input type="text" name="department" id="textModifyName" class="form-control">
                        </div>
                        {{!-- <div class="form-group">
                            <label for="textModifyDate">Date</label>
                            <input type="date" name="holidaydate" id="textModifyDate" class="form-control">
                        </div> --}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="modifyDepartment()" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>