<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h4>Designation</h4>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Designation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<section class="container">
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="card-body">
            <form id="formCreateDesignation" action="/misc/create-designation" method="post">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="textDepartment">Desi. name</label>
                            <input type="text" name="designation" id="textDesignation" class="form-control mt-2"
                                placeholder="Name of designation">
                        </div>
                    </div>
                    <div class="col-md-3 mt-3">
                        <button type="submit" class="btn btn-primary btn-sm">Create</button>
                    </div>
                </div>
            </form>
            {{!-- <hr /> --}}
            
        </div>
    </div>
    <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="table-responsive mt-3">
                <table class="table table-hover" id="tableDepartments">
                    <thead class="table-light" >
                        <tr>
                            <th style="padding: 15px">Sl.No</th>
                            <th style="padding: 15px">Name</th>
                            {{!-- <th style="padding: 15px">Status</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each desi}}
                        <tr>
                            <td style="padding: 20px">{{this.sl}}</td>
                            <td style="padding: 20px">{{this.designation}}</td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
    </div>
</section>