<div class="container mt-5">
    {{!-- <div class="row "> --}}
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
                <div class="card-body">
                   <form id="login_form" action="/" method="POST">
                            <p class="text-center h4 mb-4">Login</p>
                            {{#if message}}
                            <div class="row">
                                <p style="width:300px;background-color: red;color:white;border-radius:5px">{{message}}</p>
                            </div>
                            {{/if}}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" required>
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                    required>
                            </div>
                            {{!-- <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> --}}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    

                </div>
            </div>
        </div>

    {{!-- </div> --}}

</div>



<script>
    function preventBack() {
            window.history.forward();
        }
         
        setTimeout("preventBack()", 0);
         
        window.onunload = function () { null };

</script>