<div class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <div class="row p-5">
        {{!-- <div class="card  p-5"> --}}
            <div class="col-sm-4">
                <div class="bg-danger" style="max-width: 18rem;height: 5rem">
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-warning" style="max-width: 18rem;height: 5rem">
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-info" style="max-width: 18rem;height: 5rem">
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
            
            
    </div>

</div>
<div class="row" style="display: flex;justify-content:space-around">
    <div class="card" style="max-width: 25rem;height: 25rem;margin:20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

    </div>
    <div class="card" style="max-width: 25rem;height: 25rem;margin:20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

    </div>
    
</div>